In [1]:
import pandas as pd
import numpy as np

#Load data
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")
product_table = pd.read_csv("producto_tabla.csv")
client_table = pd.read_csv("cliente_tabla.csv")
town_state = pd.read_csv("town_state.csv")

In [2]:
#Rename columns in English
train_data = train_data.rename(columns={"Semana":"Week", "Agencia_ID":"Agency_ID", "Canal_ID":"Channel_ID", "Ruta_SAK":"Route_ID", "Cliente_ID":"Client_ID", "Producto_ID":"Product_ID", "Venta_uni_hoy":"Sales_unit", "Venta_hoy":"Sales_pesos", "Dev_uni_proxima":"Returns_unit", "Dev_proxima":"Returns_pesos", "Demanda_uni_equil":"Adjusted_demand"})
test_data = test_data.rename(columns={"Semana":"Week", "Agencia_ID":"Agency_ID", "Canal_ID":"Channel_ID", "Ruta_SAK":"Route_ID", "Cliente_ID":"Client_ID", "Producto_ID":"Product_ID"})
product_table = product_table.rename(columns={"Producto_ID":"Product_ID", "NombreProducto":"ProductName"})
client_table = client_table.rename(columns={"Cliente_ID":"Client_ID", "NombreCliente":"ClientName"})
town_state = town_state.rename(columns={"Agencia_ID":"Agency_ID"})

In [ ]:
"""#Join datasets
test = pd.merge(test_data, product_table, on=['Product_ID'], how='left')
test = pd.merge(test, town_state, on=['Agency_ID'], how='left')"""

In [ ]:
"""train = pd.merge(train_data, product_table, on=['Product_ID'], how='left')
train = pd.merge(train, town_state, on=['Agency_ID'], how='left')"""

In [3]:
"""train = train_data
test = test_data
train.Sales_pesos = train.Sales_pesos.apply(lambda x: int(x*100))"""

In [4]:
"""train.Returns_pesos = train.Returns_pesos.apply(lambda x: int(x*100))"""

In [5]:
"""train.to_csv(path_or_buf='new_train.csv', index=False)
test.to_csv(path_or_buf='new_test.csv',index=False)"""

In [ ]:
"""#Split data into features and target
features = train.drop(axis=1,labels="Adjusted_demand")
target = train.Adjusted_demand"""

In [3]:
with open('q1/q1') as d:
    data = d.readlines()
    
data = map(lambda x: x.rstrip(), data)
data_str = '[' + ','.join(data) + ']'

In [4]:
t = pd.read_json(data_str)

In [8]:
t.head()

,Adjusted_demand,Agency_ID,Channel_ID,Client_ID,Product_ID,Returns_pesos,Returns_unit,Route_ID,Sales_pesos,Sales_unit,Week
0,4,1963,1,1591396,43058,0,0,2118,3740,4,7
1,2,1963,1,2205304,30555,0,0,2118,1076,2,7
2,8,1963,1,4494413,30532,0,0,2118,6224,8,7
3,6,1963,1,4494413,43058,0,0,2118,5610,6,7
4,2,1963,1,613154,31507,0,0,2119,1250,2,7

In [5]:
import gc; gc.collect()

0

In [6]:
with open('q2/q2') as d:
    data2 = d.readlines()
    
data2 = map(lambda x: x.rstrip(), data2)
data_str2 = '[' + ','.join(data2) + ']'

In [7]:
t2 = pd.read_json(data_str2)

In [12]:
t2.head()

,Adjusted_demand,Agency_ID,Channel_ID,Client_ID,Product_ID,Returns_pesos,Returns_unit,Route_ID,Sales_pesos,Sales_unit,Week
0,10,1963,1,1612681,35305,0,0,2118,6250,10,7
1,50,1963,1,1692591,30532,0,0,2118,34850,50,7
2,5,1963,1,1692591,30552,0,0,2118,2905,5,7
3,5,1963,1,1781866,35841,0,0,2118,3460,5,7
4,10,1963,1,2335530,43058,0,0,2118,9350,10,7

In [8]:
features = t.drop(axis=1,labels="Adjusted_demand")
target = t.Adjusted_demand

In [9]:
t1 = t
t1.append(t2, ignore_index = True)

,Adjusted_demand,Agency_ID,Channel_ID,Client_ID,Product_ID,Returns_pesos,Returns_unit,Route_ID,Sales_pesos,Sales_unit,Week
0,4,1963,1,1591396,43058,0,0,2118,3740,4,7
1,2,1963,1,2205304,30555,0,0,2118,1076,2,7
2,8,1963,1,4494413,30532,0,0,2118,6224,8,7
3,6,1963,1,4494413,43058,0,0,2118,5610,6,7
4,2,1963,1,613154,31507,0,0,2119,1250,2,7
5,2,1963,1,613268,30555,0,0,2119,1076,2,7
6,4,1963,1,613268,31507,0,0,2119,2500,4,7
7,2,1963,1,613268,31586,0,0,2119,2028,2,7
8,42,1963,1,617181,30532,0,0,2119,32676,42,7
9,2,1963,1,617773,31507,0,0,2119,1250,2,7
10,4,1963,1,617876,35309,0,0,2119,2500,4,7
11,3,1963,1,618252,32934,0,0,2119,2112,3,7
12,6,1963,1,619565,43058,0,0,2119,5610,6,7
13,3,1963,1,619689,31590,0,0,2119,3042,3,7
14,1,1963,1,619689,31779,0,0,2119,1014,1,7
15,20,1963,1,619695,30532,0,0,2119,15560,20,7
16,10,1963,1,619719,30532,0,0,2119,7780,10,7
17,3,1963,1,717407,30532,0,0,2119,2334,3,7
18,6,1963,1,721433,30532,0,0,2119,4668,6,7
19,3,1963,1,1202158,30532,0,0,2119,2334,3,7
20,1,1963,1,1202158,32940,0,0,2119,778,1,7
21,2,1963,1,1249048,30552,0,0,2119,1076,2,7
22,2,1963,1,1252540,32940,0,0,2119,1556,2,7
23,8,1963,1,1620560,35305,0,0,2119,5000,8,7
24,6,1963,1,1669994,30532,0,0,2119,4668,6,7
25,10,1963,1,1815718,30532,0,0,2119,7780,10,7
26,2,1963,1,2066886,35305,0,0,2119,1250,2,7
27,7,1963,1,2279833,30532,0,0,2119,5446,7,7
28,1,1963,1,2370353,43058,0,0,2119,935,1,7
29,3,1963,1,4504836,43058,0,0,2119,2805,3,7
...,...,...,...,...,...,...,...,...,...,...,...
9274391,10,1690,6,903494,30571,0,0,3202,6250,10,3
9274392,13,1690,6,903494,30574,0,0,3202,8125,13,3
9274393,6,1690,6,1936767,5000,0,0,3202,3168,6,3
9274394,2,1690,6,2125171,41938,0,0,3202,1982,2,3
9274395,10,1690,6,2404439,4910,0,0,3202,8920,10,3
9274396,0,1690,6,2408770,1216,838,1,3202,838,1,3
9274397,2,1690,6,2456050,2665,0,0,3202,3200,2,3
9274398,2,1690,6,2456050,30571,0,0,3202,1250,2,3
9274399,0,1690,6,2471255,1216,838,1,3202,838,1,3
9274400,4,1690,6,4259592,3894,0,0,3202,3740,4,3
9274401,1,1690,6,4451116,1232,0,0,3202,1823,1,3
9274402,7,1690,6,4451116,30571,0,0,3202,4375,7,3
9274403,1,1690,6,4451116,42792,0,0,3202,2300,1,3
9274404,18,1690,6,4607776,1160,0,0,3202,33948,18,3
9274405,1,1690,6,4648850,5328,0,0,3202,815,1,3
9274406,2,1690,6,4648850,31717,0,0,3202,1200,2,3
9274407,1,1690,6,7726313,5621,0,0,3202,815,1,3
9274408,3,1690,6,7726313,31717,0,0,3202,1800,3,3
9274409,7,1690,6,150318,30571,0,0,3203,4375,7,3
9274410,3,1690,6,1929611,2233,0,0,3203,5982,3,3
9274411,3,1690,6,2386481,1125,0,0,3203,2880,3,3
9274412,1,1690,6,2386580,1700,0,0,3203,1400,1,3
9274413,1,1690,6,2393602,3894,0,0,3203,935,1,3
9274414,4,1690,6,2393602,30574,0,0,3203,2500,4,3
9274415,1,1690,6,2393602,32933,0,0,3203,704,1,3
9274416,5,1690,6,1592196,1125,0,0,3204,4800,5,3
9274417,3,1690,6,1592196,3894,0,0,3204,2805,3,3
9274418,5,1690,6,1592196,37057,0,0,3204,3750,5,3
9274419,1,1690,6,1888016,1146,0,0,3204,2139,1,3
9274420,2,1690,6,2007742,1216,0,0,3204,1676,2,3

In [14]:
from sklearn.cross_validation import train_test_split

train_X, test_X, train_y, test_y = train_test_split(features, target, test_size=.01)

print(test_X.shape)
print(test_y.shape)

(46388, 6)
(46388,)

In [15]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(max_depth=15)
rfc.fit(train_X, train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=15, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [16]:
print(rfc.score(test_X, test_y))

0.248835905838

In [18]:
from sklearn.ensemble import RandomForestClassifier


rfc = RandomForestClassifier(max_depth=6)
rfc.fit(features, target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=6, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [16]:
a_one = rfc.predict(test_data[:100000])
print(a_one[:10])

ValueError: Number of features of the model must  match the input. Model n_features is 10 and  input n_features is 7

In [17]:
test_data.drop(['id'], axis = 1, inplace = True)

In [13]:
features.drop(['Returns_pesos', 'Returns_unit', 'Sales_pesos', 'Sales_unit'], axis = 1, inplace = True)

In [32]:
print(features.head())

   Agency_ID  Channel_ID  Client_ID  Product_ID  Route_ID  Week
0       1963           1    1591396       43058      2118     7
1       1963           1    2205304       30555      2118     7
2       1963           1    4494413       30532      2118     7
3       1963           1    4494413       43058      2118     7
4       1963           1     613154       31507      2119     7